h1{
	color:rgb(2,132,130);
	text-decoration: underline;
}

h2{
	color:#ffd700;
}

h3{
	font-style: italic;
}

p{
	text-align: center;
}

.navbar{
	background-color: #808080;
}

.navlink{
	background-color: #ffbf00;
	color: rgb(255,255,255);
	padding: 20px;
	display:block;
	float:left;
	text-decoration: none;
}

.navlink:hover{
	background-color: #ee5f3c;
	text-decoration: none;
	color: rgb(255,255,255);
}

header{
	text-align:center;
}

footer{
	background-color: #808080;
}

#gameboard{

	display:inline-block;
	background-color: white;
	margin: 8%;
	float:both;
}

.row{
	margin: 0 auto;
	width: 80%;
}

.card{
	height:200px;
	width:150px;
	border:black solid 1px;
	border-radius: 10px;
	background-color:#FF0;
	margin: 5%;
}

img{
	height:200px;
	width:150px;
	margin: 5%;
}


.name{
	color:#F00;
}

#scoreboard{

	
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.centered {
    text-align: center;
    font-size: 0;
}
.centered > div {
    float: none;
    display: inline-block;
    text-align: left;
    font-size: 13px;
}

/* 
for .centered and its child class, refer to 
http://stackoverflow.com/questions/18153234/center-a-column-using-twitter-bootstrap-3 and 
http://jsfiddle.net/steyffi/ug4fzcjd/ 
*/